{# Mensajes/Alertas flash generados desde los controladores #}
{% for label, messages in app.flashes %}
    {% set bs_alert_type = label %}
    {% if label == "notice" %}
        {% set bs_alert_type = "success" %}
    {% endif %}
    {% if label == "error" %}
        {% set bs_alert_type = "danger" %}
    {% endif %}
    {% for message in messages %}
        <div class="alert alert-{{ bs_alert_type }} flash-{{ label }}" role="alert">
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}
{% endfor %}

{% if partida is defined and partida is not null %}
    {# Partida terminada con un ganador #}
    {% if partida.finalizada and partida.ganador %}
        <div class="alert alert-success" role="alert">
            <strong>¡La partida ha terminado: el jugador "{{ partida.ganador.usuario }}" es el ganador!</strong>
        </div>
    {% endif %}

    {# Partida terminada en empate #}
    {% if partida.finalizada and not partida.ganador %}
        <div class="alert alert-warning" role="alert">
            <strong>¡La partida ha terminado: ha habido un empate!</strong>
        </div>
    {% endif %}

    {# Jugador al que le toca poner la siguiente Ficha #}
    {% if sigJugadorTurno %}
        <div class="alert alert-info" role="alert">
            <strong>¡Es el turno del jugador "{{ sigJugadorTurno.usuario }}"!</strong>
        </div>
    {% endif %}
{% endif %}